.video {
  /* row당 Video 4개씩 */
  /* Three values: flex-grow | flex-shrink | flex-basis */
  flex: 1 0 21%;
  margin: 0.5rem;
  height: 25%;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.video:hover {
  transform: scale(1.1);
  transition: transform 300ms;
}

.video__thumbnails {
  width: 100%;
}

.video__title {
  display: block;
  color: white;
}

.video__channelTitle {
  color: gray;
}
